<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>게시물 보여주기</title>
</head>

<body>
    <h1>게시물 페이지</h1>
    <br>
    <form method="GET" action="{% url 'community:post_write' %}">
        <button>게시물 작성하기</button>
    </form>
    <br>
    {% for article in all_article %}
    <div>
        <a href="{% url 'community:detail' article.id %}">
            <h3>{{ article.title }}</h3>
        </a>
    </div>

    <br>
    {% endfor %}
</body>

</html>